OPENAI_API_KEY="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"
ANTHROPIC_API_KEY="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"
YOUR_MOCK_API_KEY="Wm3B7qPz9sFv5xJk2dN6tRm0yCg1hL"